/*
Link documentação bootstrap:
https://getbootstrap.com/docs/3.3/getting-started/#download

https://www.w3schools.com/bootstrap/
Exemplos:
https://adminlte.io/themes/AdminLTE/index2.html
https://startbootstrap.com/previews/sb-admin/
https://flatuicolors.com/

https://rawgit.com/MrRio/jsPDF/master/docs/index.html
http://responsivetesttool.com/
Google charts
https://www.w3schools.com/howto/howto_google_charts.asp

*/
body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

.jumbotron {
      margin-top: 10px;
      color: #ffffff;
      font-family: Montserrat, sans-serif;
      padding: 10px 10px;
      background-image: url(../img/fundo.PNG);
}

.navbar {
  font-family: Montserrat, sans-serif;
}

